@media only screen and (max-width: 600px) {
    img {
      width: 100px;
    }
    figcaption {
        font-size: 10px;
        width: 100px;
    }
    .rightsection {
         text-align: end;
    }
  }
  .rightsection { 
        padding-top: 35px;
  }